###  <center> Homework 4 - Due 22/8/2018 2359 Hrs

__Problem:__ You are a data scientist, specialising in safety and compliance, from an large global luxury cruise provider. You are tasked to study historical ship accidents/fatalities to explain what factors contribute to survivability of passengers. Having downloaded a public dataset of the RMS Titanic fatalities, you proceed to clean and preprocess the data.

Having preprocessed your data, 
1. Use a Logistic Regression, Decision Tree, Random Forest and a Support Vector Classifier to model your data.
2. Compute train and test accuracy for each model.
3. Produce 2 Bar charts: A) Training accuracy by models. B)Test accuracy by models.
4. After having fitted the decision tree in 1. , produce a feature importance bar chart using the decision tree (like WHUUUT???!)

__Hints:__
1. Only use the "cleanTrain.csv" data set for this exercise. It contains data that is already clean. Download it from the following url: https://notebooks.azure.com/Karthikan/libraries/SASPythonCourse
2. The code for modelling process is always the same. Instantiate the model --> fit() --> predict() --> score(). You may use the code from the end of homework 3 to help you
3. When in doubt...google!
4. May the Force be with you :)

__Sample Code (to get data ready to be fed into a model):__

__Import relevant libraries__

In [1]:
%matplotlib inline
import random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')
plt.style.use('fivethirtyeight')

/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/nbuser/anaconda3_501/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

__Read in dataset__

In [2]:
df = pd.read_csv('cleanTrain.csv')

__Inspect dataset__

In [3]:
df.head()

,Age,Fare,Parch,Sex,SibSp,Survived,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S
0,22.0,7.2500,0,0,1,0.0,0,0,1,0,0,1
1,38.0,71.2833,0,1,1,1.0,1,0,0,1,0,0
2,26.0,7.9250,0,1,0,1.0,0,0,1,0,0,1
3,35.0,53.1000,0,1,1,1.0,1,0,0,0,0,1
4,35.0,8.0500,0,0,0,0.0,0,0,1,0,0,1

__Check if dataset is indeed clean__

In [4]:
df.isnull().sum()

Age           0
Fare          0
Parch         0
Sex           0
SibSp         0
Survived      0
Pclass_1      0
Pclass_2      0
Pclass_3      0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

__Split dataset into train and test__

In [5]:
X = df.loc[:, df.columns != 'Survived'] #Selecting only the Features. Do not include the Target!
y = df.loc[:,'Survived'] #Selecting only the Target. Do not include Features!

#Stratify = True maintains the proportion of Survived and Dead in bothe train and test datasets.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify = y)

__Inspect X_train and y_train__

In [6]:
X_train.head()

,Age,Fare,Parch,Sex,SibSp,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S
271,25.0,0.000,0,0,0,0,0,1,0,0,1
113,20.0,9.825,0,1,1,0,0,1,0,0,1
187,45.0,26.550,0,0,0,1,0,0,0,0,1
183,1.0,39.000,1,0,2,0,1,0,0,0,1
733,23.0,13.000,0,0,0,0,1,0,0,0,1

In [7]:
y_train.head()

271    1.0
113    0.0
187    1.0
183    1.0
733    0.0
Name: Survived, dtype: float64

__Carry out modelling...__