### <center> Lesson 1 - Introduction to basic Python operations

#### 1.1 Numerical Operations

Addition / Subtraction / Multiplication / Division / Exponentiation / Modulus

In [1]:
12 + 38

50

In [2]:
48 - 24

24

In [3]:
16 * 2

32

In [4]:
16 / 2

8.0

In [5]:
6 ** 2

36

In [6]:
13 % 3

1

We can string numerical operations together and use brackets to determine the order of operation as well

In [7]:
38 + ((24 - 4)/3)**3 - (13%6)*2

332.29629629629636

__On the spot exercise:__

QN:  Calculate the present value of $20000 due in 5 years at 4% annual effective rate of interest

In [8]:
lump_sum = 20000
years = 5
interest = 0.04
pv = lump_sum * (1 + interest)**(-years)
print('present value: ' + str(round(pv)))

present value: 16439

Note: Notice the "In [n]:" and "Out[n]:" ? The "In" stands for input and "Out" stands for output. The number in the bracket refers to the order in which the code/cell was run.

#### 1.2 String Operations

In [9]:
print('hello world!')

hello world!

In [10]:
print('hello world.' + 'my name is karthik!')

hello world.my name is karthik!

In [11]:
name = 'karthik'
print('hello!I am ' + name)

hello!I am karthik

In [12]:
print('hello my name is ' + name + ' and my name has ' + len(name) + ' in it!')

TypeError: must be str, not int

Notice the error above? It happens because len(name) produces a numerical output and Python doesnt understand how to add strings and numbers together. To fix this, we could wrap len(name) with the str() function.

In [13]:
print('hello my name is ' + name + ' and my name has ' + str(len(name)) + ' letters in it!')

hello my name is karthik and my name has 7 letters in it!

#### 1.3 Containers

Lists
<p> A type of data structure in Python that is changeable and contains items in a specific order. Lists are defined by having values between square brackets [ ]. </p>
Lists are generally used to keep data together that belongs together, condense code, and perform the same methods and operations on multiple values at once. The following is an example of a list:

In [14]:
make = ['BMW', 'Mercedes', 'Audi', 'Honda', 'Toyota', 'Hyundai', 'Porsche']

We can get the number of items in a list using the len() function just as we did for strings.

In [15]:
len(make)

7

It can obtain elements within a list by selecting using their index (position within the list). We do so by typing the name of the list followed by 'selectors': square brackets [ ]

In [16]:
make[0]

'BMW'

In [17]:
make[3]

'Honda'

In [18]:
make[len(make)]

IndexError: list index out of range

In [19]:
make[len(make) - 1]

'Porsche'

Note that Python is 0 - indexed. Which means Python starts counting from 0 instead of 1.

In [20]:
make[1:3]

['Mercedes', 'Audi']

In [21]:
make.append('Volvo')
make

['BMW', 'Mercedes', 'Audi', 'Honda', 'Toyota', 'Hyundai', 'Porsche', 'Volvo']

In [22]:
print('i drive a ' + make[-1])

i drive a Volvo

In [23]:
make.sort()
make

['Audi', 'BMW', 'Honda', 'Hyundai', 'Mercedes', 'Porsche', 'Toyota', 'Volvo']

Lets try wrting some *Loops*

In [24]:
for car in make:
    print('i drive a ' + car)

i drive a Audi
i drive a BMW
i drive a Honda
i drive a Hyundai
i drive a Mercedes
i drive a Porsche
i drive a Toyota
i drive a Volvo

In [25]:
contains_a = []
for car in make:
    if 'a' in car:
        contains_a.append(car)
contains_a

['Honda', 'Hyundai', 'Toyota']

In [26]:
contains_a = []
for car in make:
    if 'a' in car.lower():
        contains_a.append(car)
contains_a

['Audi', 'Honda', 'Hyundai', 'Toyota']

__On the spot exercise:__

QN:  Given a list of luxury car makes, determine which are the luxury cars in our make list.

luxury = ['audi', 'mercedes', 'porsche', 'bmw']

In [27]:
luxury = ['audi', 'mercedes', 'porsche', 'bmw']

for car in make:
    if car.lower() in luxury:
        print(car + ' is a luxury make.')
    else:
        print(car + ' is not a luxury make')

Audi is a luxury make.
BMW is a luxury make.
Honda is not a luxury make
Hyundai is not a luxury make
Mercedes is a luxury make.
Porsche is a luxury make.
Toyota is not a luxury make
Volvo is not a luxury make

__On the spot exercise:__

QN:  Given a list of 'claims' from 2013 to 2017, determine the year to year loss development factors.

claims = [15300, 16830, 15999, 18120, 20000]

In [28]:
ldf = []
claims = [15300, 16830, 15999, 18120, 20000]

for i in range(1,len(claims)):
    ldf.append(claims[i]/claims[i - 1])

ldf

[1.1, 0.9506238859180036, 1.1325707856741047, 1.1037527593818985]

__On the spot exercise:__

QN:  Given a list of annual salaries, create a list that categorises each salary into the following bins.

salaries = [15300, 16830, 15999, 18120, 20000]

low = lesser than 15,500

mid = between 15,500 and 19,000

high = greater than 19,000

In [29]:
income_bracket = []
salaries = [15300, 16830, 15999, 18120, 20000]

for salary in salaries:
    if salary < 15500:
        income_bracket.append('low')
    elif salary < 19000:
        income_bracket.append('mid')
    else:
        income_bracket.append('high')

income_bracket

['low', 'mid', 'mid', 'mid', 'high']

#### 1.4 Functions

You use functions in programming to bundle a set of instructions that you want to use repeatedly or that, because of their complexity, are better self-contained in a sub-program and called when needed. That means that a function is a piece of code written to carry out a specified task. To carry out that specific task, the function might or might not need multiple inputs. When the task is carried out, the function can or can not return one or more values.

The following are some examples of how functions are written:

In [30]:
def sayhello(names):
    for name in names:
        print('hello ',name,'!')

In [31]:
attendees = ['karthik', 'fred', 'mudit']

In [32]:
sayhello(attendees)

hello  karthik !
hello  fred !
hello  mudit !

In [33]:
def pv(lumpsum,interest,time):
    presentvalue = lumpsum * (1 + interest)**(-time)
    return round(presentvalue,2)

In [34]:
pv(35000,0.06,8)

21959.43

__On the spot exercise:__

QN:  Write a function that translates a list of chinese words to english and returns the list of english words.

chinese = ['奥迪', '奔驰', '沃尔沃', '日产', '特斯拉']

In [35]:
chinese = ['奥迪', '奔驰', '沃尔沃', '日产', '特斯拉']

In [36]:
def zh_to_en(chinesewords, english=[]):
    from googletrans import Translator
    translator = Translator()
    for word in chinesewords:
        english.append(translator.translate(word).text)
    return english

In [37]:
zh_to_en(chinese)

['Audi', 'Mercedes-Benz', 'Volvo', 'Nissan', 'Tesla']

__On the spot exercise:__

QN: Write a function that takes in a list of claims developments in a given year and returns a list of LDFs for that year. Your function must be able to allow the option of selecting the number of decimal places to round off results to. By default, round off to 4 decimal places.

claims = [15300, 16830, 15999, 18120, 20000]

In [38]:
def getldf(claims, ldf = [], dp=4):
    for i in range(1, len(claims)):
        ldf.append(round(claims[i]/claims[i - 1],dp))
    return ldf

In [39]:
claims = [15300, 16830, 15999, 18120, 20000]
getldf(claims)

[1.1, 0.9506, 1.1326, 1.1038]

__On the spot exercise:__

QN: Write a function that takes in a list of contract numbers. Then outputs 3 lists: 1 with contract numbers for a motor policies in 2018, 1 for travel policies in 2018, 1 for the ages of motor policyholders in 2018 and 1 for the ages of travel policyholders in 2018.

In [40]:
contractnumber = ['2018-motor/1002823', '2016-travel/1001698', '2017-motor/1005410', '2018-motor/1003046', '2018-travel/1003023',
                  '2016-travel/1000911', '2018-motor/1006799', '2018-travel/1002086', '2017-travel/1003300', '2017-motor/1001629']

In [41]:
def cleandata(contracts):
    
    motor_2018 = []
    travel_2018 = []
    motor_2018_age = []
    travel_2018_age = []
    
    for contract in contracts:
        if (contract[:4] == '2018') and ('motor' in contract):
            motor_2018.append(contract)
        elif (contract[:4] == '2018') and ('travel' in contract):
            travel_2018.append(contract)
    for item in motor_2018:
        motor_2018_age.append(item[-4:-2])
    for item in travel_2018:
        travel_2018_age.append(item[-4:-2])
    
    return motor_2018, travel_2018, motor_2018_age, travel_2018_age

In [42]:
cleandata(contractnumber)

(['2018-motor/1002823', '2018-motor/1003046', '2018-motor/1006799'],
 ['2018-travel/1003023', '2018-travel/1002086'],
 ['28', '30', '67'],
 ['30', '20'])